
<link rel="stylesheet" href="../../shared/css/identidade-intranet.css?v=20261004-canonico-2">
<link rel="stylesheet" href="../../shared/css/acessibilidade-intranet.css?v=20261004-shell-fix-4">
<script src="../../shared/js/acessibilidade-intranet.js" defer></script>


<!-- Modais de estorno e ocorrência operacional -->
<div id="modalEstornoPedido" class="modal modal-estorno-pedido">
  <div class="modal-content modal-content-estorno-pedido" id="modalEstornoPedidoContent"></div>
</div>
<div id="modalOcorrenciaPedido" class="modal modal-ocorrencia-pedido">
  <div class="modal-content modal-content-ocorrencia-pedido" id="modalOcorrenciaPedidoContent"></div>
</div>
